body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: white;
    grid-column: 1/2;
    padding: 60px 25px 60px 15px;
    display: grid;
    grid-template-columns: 45px 120px;
    grid-template-rows: auto auto 1fr;
    gap: 30px 15px;
    justify-content: center;
}

.logo {
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo > img {
    height: 40px;
}

.dash {
    font-size: 1.5rem;
    align-self: center;
}

.icons {
    display: grid;
    grid-template-rows: repeat(6, 45px);
    gap: 15px;
    align-items: center;
    justify-self: center;
}

.icons > img, .icons2 > img {
    height: 22.5px;
    
}

.side-links {
    display: grid;
    grid-template-rows: repeat(6, 45px);
    gap: 15px;
    align-items: center;
}

.icons2 {
    display: grid;
    grid-template-rows: repeat(3, 45px);
    gap: 15px;
    align-items: center;
    justify-self: center;
    margin-top: 15px;
}

.side-links2 {
    display: grid;
    grid-template-rows: repeat(3, 45px);
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}

.top {
    display: grid;
    grid: auto auto/3fr 2fr;
    padding: 25px 50px 30px 50px;
    gap: 10px 20px;
    grid-row: 1/2;
    position: relative;
    background-color: rgb(229, 229, 255);
}

.search > img {
    height: 20px;
}

.search {
    display: grid;
    align-items: center;
    grid-column-gap: 15px;
    grid-template-columns: 20px;  
    grid-auto-flow: column;
}

input[type ='search'] {
    border-radius: 8px;
    display: inline;
    height: 2rem;
    max-width: 550px;
    background-color: whitesmoke;
}

.top1 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 15px;
    justify-content: end;  
}

.top1 > .ava {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        object-fit: cover;
}

.top1 > .bell { 
    height: 20px;
    width: 20px; 
}

.top2 > img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    grid-area: 1/1/3/2;
    align-self: center;
}

.top2 {
    display: grid;
    grid: 1fr 1.5fr/60px auto;
    column-gap: 15px;
}

.top21 {
    display: grid;
    align-items: last baseline;
}

.top22, .trend1 > div {
    display: grid;
    align-items: center;
}

.top3 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.top3 > button {
    min-width: 100px;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    font-weight: 700;
    background-color: rgb(186, 179, 255);
    
}

.middle {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: rgb(186, 179, 255);
}

.m1{
    display: grid;
    padding: 30px 30px 60px 50px;
    gap: 15px;
    grid-template-rows: auto 1fr;
}

.projects {
    display: grid; 
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px; 
}

.card {
    border-radius: 8px;
    background-color:  white;
    border-left: 10px solid rgb(76, 71, 169);
    padding: 15px;
    display: grid;  
    grid-template-rows: auto auto 1fr;
    gap: 0.5rem; 
}

.card > div> img {
    height: 20px;
}

.card-icons {
    align-self: last baseline;
    justify-self: end;
}

.announcements {
    padding: 30px 50px 60px 0;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    gap: 15px;
    min-width: 250px;  
}

.ann1 {
    display: grid;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 10px 30px 20px 30px;  
    grid-template-rows: repeat(3, auto);
}

.ann2 {
    display: grid;
    padding: 15px 0;
    gap: 5px;
}


.trend {
    display: grid;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 25px 30px 35px 30px;
    gap: 23px;
    grid-template-rows: repeat(4, auto);
    align-items: baseline;   
}

    .trend1 {
    display: grid;
    grid: 1fr 1fr/40px auto;
    column-gap: 15px;
    }

.trend1 > img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    grid-area: 1/1/3/2;
    align-self: center;
}

.strong {
    font-weight: 700;
}

.trend1, .ann2, .top21 {
    font-size: 0.8rem;
}

.top22 {
    font-size: 1.5rem;
}

.top, .card, .ann1, .trend {
    box-shadow: 2px 10px 5px -3px rgba(0,0,0,0.35);
}